@model IEnumerable<AMillionLittleThings.Models.WebListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WebId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WebId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
